:root{
    --clr-dark: #020617;
    --clr-light: #f1f5f9;
    --clr-slate400:#94a3b8 ;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-rose:#e11d48 ;
    --clr-indigo: #4f46e5;

    /* rose rgb (225, 29, 72) */
    /* indigo 	rgb (79, 70, 229) */
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}



*{
    margin: 0;
    line-height: calc(1em+0.5rem);
}

html{
    scroll-behavior: smooth;
    color: var(--clr-light)
}

.light-mode{
    --clr-light: #020617;
    --clr-dark: #f1f5f9;
    --clr-slate400:#1e293b ;
    --clr-slate600: #1e293b;
    --clr-slate800: #1e293b;
}

body{
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark);
}
a{
    text-decoration: none;
}
img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
    user-select: 100%;
}

button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a{
    color: var(--clr-rose);
}
strong{
    color:var(--clr-indigo);
}

/* Scroolbar */
body::-webkit-scrollbar {
    width: 8px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--clr-rose);
    outline: 1px solid var(--clr-rose);
  }

  .logo {
    position: relative;
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #2b2b2b, #5a5a5a);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  
 
  .logo::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 40px;
    background: linear-gradient(to bottom, #fff, #ccc);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    transform: rotate(0deg);
  }
  

  .logo::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 24px;
    background: linear-gradient(to bottom, #ffd6a5, #ffb703);
    border-radius: 2px;
    top: 20px;
    left: 28px;
    transform: rotate(90deg);
    box-shadow: 0 0 8px #ffb703;
  }
  